html {
  background: #252525;
  color: #000;
  font: 16px/20px normal "Segoe UI", Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

input {
  font: 16px/20px normal "Segoe UI", Helvetica, Arial, sans-serif;
}

#box {
  background: #fff;
  margin: 0 auto 40px auto;
  width: 530px;
}

#top {
  background: #252525;
  display: block;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
}

#header {
  background: #fff;
  height: 45px;
  padding: 15px;
  position: fixed;
  top: 40px;
}

  #info {
    display: inline-block;
    vertical-align: middle;
    width: 294px;
  }

  #name {
    font-size: 18px;
    position: relative;
    top: -18px;
    left: 5px;
  }

  #status {
    background: #72cf6e;
    border: 1px solid #36a149;
    border-radius: 4px;
    padding: 4px 6px;
    position: fixed;
    top: 7px;
    left: calc(50% - 90px);
    text-align: center;
    -webkit-transition: opacity 1s;
    width: 180px;
  }

  #buttons {
    display: inline-block;
  }

  button {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    font: 12px "Segoe UI", Helvetica, Arial, sans-serif;
    height: 31px;
    margin-left: 20px;
    width: 80px;
  }

    button:hover {
      border-color: #bbb;
    }

  #btnSave {
    font-weight: bold;
  }

#content {
  margin-top: 85px;
  padding: 15px;
}

  h2 {
    font: 22px normal "Segoe UI Semilight", "Segoe UI", Helvetica, Arial, sans-serif;
    border-top: 1px solid #e8e8e8;
    padding-top: 15px;
  }

  #content section {
    display: block;
    margin-bottom: 20px;
  }

  #tip {
    color: #777;
    display: block;
    font-size: 11px;
    font-style: italic;
    margin: 1em 0;
  }

  #content a {
    color: #2b82d9;
    text-decoration: none;
  }

  .selector {
    display: inline-block;
    width: 100px;
  }

  input[type='range'] {
    -webkit-appearance: none;
    background: #ccc;
    border-radius: 3px;
    height: 5px;
    margin: 10px;
    width: 480px;
  }

    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: #bbb;
      border: 1px solid #777;
      border-radius: 10px;
      height: 15px;
      width: 15px;
    }

    input[type='range']::-webkit-slider-thumb:hover {
      background: #ccc;
    }

#footer {
  border-top: 1px solid #e8e8e8;
  font-size: 11px;
  padding: 13px 15px;
  text-align: center;
}

  #footer span {
    margin: 10px;
  }

  #footer a {
    color: #8a8a8a;
    text-decoration: none;
  }

  #twitter_buttons {
    text-align: center;
  }
