html {
  background: #252525;
  color: #000;
  font: normal 16px/20px 'Segoe UI', Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

input,
select {
  background-color: #eee;
  border: 1px solid #777;
  font: normal 14px/20px 'Segoe UI', Helvetica, Arial, sans-serif;
  padding: 0.25em 0.5em;
}

  input[type='color'] {
    padding: 0.1em 0;
  }

button {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font: 12px 'Segoe UI', Helvetica, Arial, sans-serif;
  height: 31px;
  margin-left: 20px;
  width: 80px;
}

  button:hover {
    border-color: #bbb;
  }

input[type='range'] {
  -webkit-appearance: none;
  height: 4px;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #bbb;
    border: 1px solid #777;
    border-radius: 50%;
    height: 15px;
    width: 15px;
  }

  input[type='range']::-webkit-slider-thumb:hover {
    background: #ccc;
  }

#box {
  background: #fff;
  margin: 0 auto 2em auto;
  width: 530px;
}

#top {
  background: #252525;
  display: block;
  height: 2em;
  position: fixed;
  top: 0;
  width: 100%;
}

#header {
  background: #fff;
  height: 45px;
  padding: 1em;
  position: fixed;
  top: 2em;
}

  #info {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
  }

  #name {
    font-size: 18px;
    left: 5px;
    position: relative;
    top: -18px;
  }

  #status {
    background: #72cf6e;
    border: 1px solid #36a149;
    border-radius: 4px;
    left: calc(50% - 90px);
    padding: 4px 6px;
    position: fixed;
    text-align: center;
    top: 7px;
    transition: opacity 1s;
    width: 180px;
  }

  #buttons {
    display: inline-block;
  }

  #btnSave {
    font-weight: bold;
  }

#content {
  margin-top: 5.5em;
  padding: 1em;
}

  h2 {
    border-top: 1px solid #eee;
    font: 2em normal 'Segoe UI Semilight', 'Segoe UI', Helvetica, Arial, sans-serif;
    padding-top: 1em;
  }

  section {
    display: block;
    margin-bottom: 1.5em;
  }

  #tip {
    color: #777;
    display: block;
    font-size: 0.9em;
    font-style: italic;
    margin: 1em 0;
  }

  #content a {
    color: #2b82d9;
    text-decoration: none;
  }

  .selector {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
  }

#footer {
  border-top: 1px solid #eee;
  font-size: 0.9em;
  padding: 1em;
  text-align: center;
}

  #footer a {
    color: #8a8a8a;
    text-decoration: none;
  }

  #twitter_buttons {
    text-align: center;
  }
